.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
  

}
.leftl {
  left: 0;
  margin-top: 10%;
}

/* Control the right side */
.rightl {
  right: 0;
  margin-top: 10%;
}

.img {
  max-width:50%;
  height: auto;
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
  filter: contrast(120%);
}
