/* Add this to override specific Bootstrap styles and ensure proper alignment */
.shopping-navbar {
  background-color: #ffffff;
  color: #fff;
  padding: 7px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;

}

.dark-mode .shopping-navbar {
  background-color: #333;
  color: #fff;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
}

.navbar-brand .brand-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 10px;
  color: #3e3e3e;
}

.dark-mode .navbar-brand .brand-name {
  color: #fff;
}

.mode-switch-container {
  display: flex;
  align-items: center;
}

.mode-switch {
  display: none;
}

.mode-switch-label {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mode-switch-label:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.mode-switch:checked + .mode-switch-label {
  background-color: #308800;
}

.mode-switch:checked + .mode-switch-label:before {
  transform: translateX(25px);
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: center;
  }
}
