/* CustomNavbar.css */

.navbar-brand img {
  max-height: 40px;
}

.form-control {
  width: 300px;
}

.navbar-nav .nav-link {
  margin-left: 15px;
  font-size: 1.1rem;
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
}

.nav-link svg {
  margin-right: 5px;
}

.navbar-collapse {
  justify-content: space-between;
}
