/* استایل برای نوار کناری */
.sidebar-container {
  position: relative;
}

/* استایل کادر بزرگ */
.mega-menu-content {
  position: absolute;
  top: 0;
  right: 100%;
  width: 300px; /* پهنای مناسب */
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  padding: 20px;
  transition: opacity 0.3s ease; /* انیمیشن نرم برای تغییر نمایش */
}

/* استایل برای پنهان کردن کادر بزرگ به‌طور پیش‌فرض */
.mega-menu-content.hidden {
  display: none;
}

/* استایل برای نمایش محتوای انتخاب‌شده */
.mega-menu-content .content {
  display: none; /* پنهان کردن تمام محتواها به‌طور پیش‌فرض */
}

/* نمایش محتوای مرتبط با آیتم انتخاب‌شده */
.mega-menu-content .content.active {
  display: block;
}

/* استایل برای آیتم‌های منو */
.dropdown-item {
  padding: 5px 0;
}

/* استایل برای هدر‌های منو */
.dropdown-header {
  font-weight: bold;
}

/* استایل برای متن‌ها */
.text {
  text-shadow: 2px 2px 3px #04aa1d;
}

.text1 {
  color: rgba(74, 85, 85, 0.764);
}

/* استایل برای کادر کنار */
.frame {
  border-left: 5px solid rgba(19, 129, 13, 0.69);
}

/* استایل برای محو کردن پس‌زمینه */
.blur {
  background: rgba(89, 87, 87, 0.5);
  backdrop-filter: blur(1px);
}
