/* src/App.css */

.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a,
.navbar button,
.navbar input {
  margin: 0 10px;
}

.user-cart {
  display: flex;
  align-items: center;
}

.user-cart .account,
.user-cart .cart {
  margin: 0 5px;
}

.main-content {
  display: flex;
  margin-top: 120px;
  /* Adjust based on navbar height */
  padding: 20px;
}

.product-area {
  width: 75%;
  /* Adjust as needed */
  padding: 20px;
}